{% extends 'base.html' %}
{% load static %}
{% block title %}Essa página é a Index{% endblock %}
{% block content %}
    <h1>Bem-vindo ao site da Equipe de Vôlei</h1>
        <img src="{% static 'img/volei.1.jpg' %}" alt="Logo do Time" class="team-logo">
        <section>
            <h2>Sobre o Time</h2>
            <p>Nosso time é conhecido por sua paixão e determinação. Fundado em 2020, conquistou diversos títulos e é uma referência no vôlei.</p>
            <p>Com uma equipe dedicada e talentos em ascensão, estamos sempre em busca de novos desafios e vitórias.</p>
            <p></p>
        </section>
    {% endblock %}